<div class="jumbotron">
  <h2>Welcome to the Teladoc Code Review Queue!</h2>
  <h3 class="text-left">Status:</h3>
  <ul class="lead text-left">
    <li><%= @pending %> Code Reviews Pending</li>
    <li><%= @approved %> Code Reviews Approved in the last 24 hours</li>
    <li><%= @rejected %> Code Reviews Rejected in the last 24 hours</li>
  </ul>
</div>
