<div class="row">
  <div class="col-xs-8">
    <h2><%= @status %> Code Reviews</h2>
  </div>
  <div class="new_review col-xs-4 text-right">
    <%= link "New review", to: review_path(@conn, :new), class: "btn btn-danger" %>
  </div>
  <div class="review_list col-xs-12">
    <%= for review <- @reviews do %>
      <%= render "review.html", conn: @conn, review: review %>
    <% end %>
  </div>
</div>
